body{
    margin: 0;

}
.screen{
    height: 100vh;
    background-color: green;
    display: grid;
    grid-template-rows: 1fr 13fr 3fr;
    /* grid-template-areas: 
    "t"
    "m"
    "b" */
}
.topBar{
    background-color: rgba(144, 238, 144, 0.479);
}
.mainBody{
    position: relative;
    display: inline;
}
.fas{
    position: relative;
    display: inline-block;
}
.bot{
    /* grid-area: 'b'; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(144, 238, 144, 0.479);
}
.heli{
    font-size: 1000px
}